* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */

.sidebar {
  width: 250px;
  background: #202c33;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.profile {
  padding: 15px;
  background: #2a3942;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.profile:hover {
  background: #374248;
}

.active {
  background: #005c4b;
}

.profile-name {
  font-weight: bold;
}

.status {
  font-size: 12px;
  margin-top: 5px;
}

/* Chat Box */

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #efeae2;
}

.chat-header {
  padding: 20px;
  background: #202c33;
  color: white;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 60%;
}

.my-message {
  margin-left: auto;
  background: #d9fdd3;
}

.input-box {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: white;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #005c4b;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn {
  background: red;
}