.container {
  width: 400px;
  margin: 40px auto;
  font-family: Arial;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f3f3f3;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}