<div class="chat-container">
  <div class="sidebar">
    <div class="toolbar">
      <h2>Chats</h2>
    </div>
    <div class="user-list">
      <div *ngFor="let user of users" class="user-item">
        <div class="avatar">{{ user.avatar }}</div>
        <div class="user-info">
          <div class="user-name">{{ user.name }}</div>
          <div class="status" [ngClass]="user.status">{{ user.status }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="toolbar chat-header">
      <h3>Alice Smith</h3>
    </div>

    <div class="message-display">
      <div *ngFor="let msg of messages" class="message-wrapper" [ngClass]="{'my-message-wrapper': msg.isMe}">
        <div class="message-bubble" [ngClass]="{'my-message': msg.isMe, 'their-message': !msg.isMe}">
          <div class="sender-name" *ngIf="!msg.isMe">{{ msg.sender }}</div>
          <p class="message-text">{{ msg.text }}</p>
          <span class="message-time">{{ msg.time }}</span>
        </div>
      </div>
    </div>

    <div class="message-input-bar">
      <input class="input-field" placeholder="Type a message..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <button class="send-btn" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>